extends ../layout 
block content
  .container.book
    h1.book Enter New Book
    if signedIn
      form.book(method="post" action="/books")
        input.book(type="text" name="title" placeholder="Title")
        br
        input.book(type="text" name="authors" placeholder="Author")
        br
        input.book(type="text" name="authors" placeholder="Author")
        br
        input.book(type="text" name="authors" placeholder="Author")
        .new-book-genres
          label.genre-label Genres: 
          select.genre-selector(name="genres" multiple)
            for genre in genres
              option(value=genre.id)= genre.genre
        input.book(type="text" name="imgurl" placeholder="Cover Url")
        br  
        input.button(type="submit" value="Create Book")
    else
      h3.book Sign In or Sign Up to add a book 
        br
        br
        a(href="/signin") Sign In
        br
        br
        a(href="/signup") Sign Up
  include ../footer