extends ../layout 
block content

  if !book.id
    h1 Book Not Found
  else  
    h1= book.title
    img(src=book.imgurl)

    h4 Authors
      ol
        for author in book.authors
          li= author.name

    h4 Genres
      ol
        for genre in book.genres
          li= genre.genre

    if signedIn 
      form(method="get" action="/books/delete/"+book.id)
        input(type="submit" value="delete book") 
  