block content
  .container.codex-info
     table.codex
        thead.codex
          th.codex The Codex Way
          th.codex Our Philosophy
          th.codex Become an Investor
        tbody
            tr
              td.codex
                img.codex(src='http://www.twyva.org.tw/images/others/IconStory.png')
              td.codex
                img.codex(src='https://image.freepik.com/free-icon/person-thinking_318-29363.jpg')
              td.codex
                img.codex(src='https://image.freepik.com/free-icon/hans-shake_318-23259.png')
            tr
              td.codex
                p.codex Books are friends.
              td.codex
                p.codex Read books. Just Books.
              td.codex
                p.codex We are a startup looking for investors interested in making money by giving money. Booktech - it's bigger than Amazon.
