block content
  .clear-fix
    nav.navbar.footer
      ul.footer
        li.navbar-item
          a.navbar-link(href="/books/new") Add Book
        li.navbar-item 
          a.navbar-link(href="/") Home
      p.center-footer-text Codex 2016