block content
  .clear-fix
    nav.navbar
      ul
        li.navbar-item
          a.navbar-link(href="/books/new") Add Book
        li.navbar-item 
          a.navbar-link(href="/") Home
        li.navbar-item
          p Codex 2016