doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul
        if signedIn 
          li 
            a(href="/signout") Sign Out
        else
          li 
            a(href="/signin") Sign In
          li
            a(href="/signup") Sign Up
    block content
