doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato")
  body
    nav.navbar
      ul
        li.navbar-item
          a.navbar-link(href="/books/new") Add Book
        li.navbar-item 
          a.navbar-link(href="/") Home

        if signedIn 
          li.navbar-item 
            a.navbar-link(href="/signout") Sign Out
        else
          li.navbar-item 
            a.navbar-link(href="/signin") Sign In
          li.navbar-item 
            a.navbar-link(href="/signup") Sign Up     
        li.navbar-search
          form(method="get" action="/search")
            label Search Books: 
            input.search( type="text" placeholder="search..." name="search_query")
            input.button(type="submit" value="Search")
    block content
